*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 14px;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;

}
.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 45px;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;

}
@media screen and  (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and  (max-width:768px){
    body{
       overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #115061;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
}
.col-5{
    width: 40%;
}
.col-6{
    width: 50%
}
.banner img{
    width: 200px;
}
.banner-section{
    gap: 50px;
    width: 100%;
    justify-content: space-between;    
}
.banner{
    margin-top: 25px;
}
.banner-section h1 ,.banner-section h5{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: capitalize;
}

.userIcon i{
    color: black;
    margin-right: 8px;
    font-size: 24px;
}
.userIcon span{
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
    text-transform: capitalize;
    display: inline-block;
    color: black;
}

.navbar-info{
    display: flex;
    margin-left: 15px;
    font-size: 38px;
}
.navbar-info p{
    font-size: 18px;
    line-height: 16px;
    margin-left: 15px;
}
.shopping{
    font-size: 30px;
}

.col-5 .btn{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 10px;
    margin-left: 22px;
    border-radius: 30px;
    border: 2px solid #115061;
    
}
.col-5 .btn:hover{
    background-color: #5d4954;
}
.swiper {
    width: 100%;
    height: 500px;
    margin-top: 50px;
  }
  .swiper-slide img{
    width: 100%;
  }
  .swiper-slide {
    background-color: #115061;
  }
.text-center{
    margin-bottom: 50px;
    margin-top: 50px;
}
.top-content{
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}
.content-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.content-banner{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px ;
    border-radius: 50%;
    background-color:#bddeff;
}
.content-banner img{
    width: 76px;
    height: 98px;
}

.content-banner:hover{
    background: #eee;
    box-shadow: 1px 2px 5px 5px #5d4954;
}
.content-banner h4 {
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}
.content-group{
    text-align: center;
    justify-content: space-between;

}
.content-info{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.cart-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-cart{
    height: 80px;
    width: 70%;
    background-color: #5d4954;
    border-radius: 3px;
    display: flex;
    margin: 30px 0px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.cart-logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.cart{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #CC0000;
    color: #fff;
}
.cart-container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #115061;
    padding: 15px;
    text-align: center;
}
.cart-head{
    background-color: #2475f6;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}


/* ///////// footer /////*/
.footer{
    margin-top: 50px;
    background: #115061;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer .icon{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .icon a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    transition:0.5s;
}
.footer .icon a:hover{
    color:#2475f6;
}
.footer .icon ul{
    width:100%;
}
.footer .icon ul li{
    display:inline-block;
    margin:0px 30px;
}
.footer .icon a i{
    font-size:2em;
    margin:0% 1%;
}
@media (max-width:720px){
.footer{
    text-align:left;
    padding:5%;
}
.footer .icon ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}
.footer .icon a i{
    margin:0% 3%;
}








